<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Test</title>
</head>
<body>
    <h1>Water Test</h1>
    <hr>
    <form action="resultado">
        ph  : <input type="number" step="any" name="ph" required><br> 
        Hardness  : <input type="number" step="any" name="Hardness" required><br> 
        Solids  : <input type="number" step="any" name="Solids" required><br> 
        Chloramines  : <input type="number" step="any" name="Chloramines" required><br> 
        Sulfate  : <input type="number" step="any" name="Sulfate" required><br> 
        Conductivity  : <input type="number" step="any" name="Conductivity" required><br> 
        Organic_carbon  : <input type="number" step="any" name="Organic_carbon" required><br> 
        Trihalomethanes  : <input type="number" step="any" name="Trihalomethanes" required><br> 
        Turbidity  : <input type="number" step="any" name="Turbidity" required><br> 
        <input type="submit">
    </form>
</body>
</html>